%div.method_average
  =form.label :amount, 'Amount'
  %br
  =number_field_tag 'distributor[options][amount]', distributor.amount, class: 'method_average form-control', id: 'distributor_options_amount'
