.row
  .col-md-5
    .form-group
      =f.label :account_id
      =f.select :account_id, account_options(budget_item), {}, class: 'form-control'
=fields_for(:distributor, distributor) do |distributor_fields|
  =distributor_fields.fields_for(:options) do |args_fields|
    =render "#{distributor.method}_fields", form: args_fields, budget_item: budget_item, distributor: distributor
