%tr{class: record.item ? '' : 'section_header', id: record.item ? "budget_item_#{record.item.id}" : '' }
  %td= record.header
  -record.columns.each do |column|
    %td.text-right= format_currency(column)
  %td.text-right= format_currency(record.total)
  %td.action_cell
    -if record.item
      .btn-group
        =edit_link edit_budget_item_path(record.item), 'this budget item'
        =delete_link budget_item_path(record.item), 'this budget item'
