%tr
  %td= item.account.name
  -item.periods.each do |period|
    %td.number_column= format_currency(period.budget_amount)
  %td.number_column= format_currency(item.periods.sum(:budget_amount))
  %td.action_cell
    =link_to 'Edit', edit_budget_item_path(item), class: 'edit_button', title: 'Click here to edit this budget item.'
    =render 'shared/delete_form', resource: item, url: budget_item_url(item)