%h2#page_title Budget items

%table.table#budget_items_table{ cellspacing: 0, cellpadding: 0}
  %tr
    %th Account
    -@budget.periods.each do |period|
      %th.number_column= period.start_date.strftime('%b %Y')
    %th.number_column Total
    %th.action_cell &nbsp;
  -@budget_summary.records.each do |record|
    =render 'row', record: record
=link_to 'Add', new_budget_budget_item_path(@budget), class: 'add_button', title: 'Click here to add a new item to the budget.'
=link_to 'Back', entity_budgets_path(@budget.entity), class: 'back_button', title: 'Click here to return to the list of budgets.'
