%h2#page_title New budget item

=render "shared/errors", :resource => @budget_item
=form_for([@budget, @budget_item]) do |f|
  =render 'form_fields', f: f
  .actions
    =f.submit 'Save', class: 'save_button', title: 'Click here to save the budget item.'