-if @first
  :javascript
    $(function() {
      $('.budget_monitor').budget_monitor({daysAvailable: #{@first.available_days},
        daysPast: #{@first.past_days},
        safeFillColor: "#00A000",
        dangerFillColor: "#A00000",
        progressLineColor: "#337AB7"});
    });

=content_for :page_title do
  Budget monitors

.row
  .col-md-4
    -@budget_monitors.each do |budget_monitor|
      =render 'graph', budget_monitor: budget_monitor
    .actions
      =link_to 'Add', new_entity_budget_monitor_path(@entity), class: 'btn btn-primary', title: 'Click here to add a new budget monitor.'
  -if @nil_monitors.any?
    .col-md-2
      These monitors could not be displayed because there are no budget amounts for this accounts
      -@nil_monitors.each do |monitor|
        .nil_monitor=monitor.account.name
