.form-group
  =label_tag 'transaction_item_creator[transaction_date]', 'Date'
  =text_field_tag 'transaction_item_creator[transaction_date]', format_date(transaction_item_creator.transaction_date), autofocus: true, class: 'form-control date_field'
  
.form-group
  =label_tag 'transaction_item_creator[description]', 'Description'
  =text_field_tag 'transaction_item_creator[description]', transaction_item_creator.description, class: 'form-control'

.form-group
  =label_tag 'transaction_item_creator[other_account_id]', 'Other account'
  =select_tag 'transaction_item_creator[other_account_id', available_accounts_options(account.entity, transaction_item_creator.other_account_id), class: 'form-control'
  
.form-group
  =label_tag 'transaction_item_creator[amount]', 'Amount'
  =text_field_tag 'transaction_item_creator[amount]', transaction_item_creator.amount, class: 'form-control'
  
.actions.btn-group
  =submit_tag 'Save', class: 'btn btn-primary'
  =link_to 'Back', account_transaction_items_path(account), class: 'btn btn-default'
