.form-group
  =f.label :name
  %br
  =f.text_field :name, class: 'form-control', autofocus: true
.actions.btn-group
  =f.submit "Save", class: 'btn btn-primary', title: 'Click here to save the entity.'
  =link_to "Back", entities_path, class: 'btn btn-default', title: 'Click here to return the list of entities.'
