%ul#nav_2
  %li= link_to 'Accounts', entity_accounts_path(current_entity)
  %li= link_to 'Transactions', entity_transactions_path(current_entity)
  %li= link_to 'Budgets', entity_budgets_path(current_entity)
  %li= link_to 'Reports', reports_entity_path(current_entity)