.row
  .col-md-4.col-md-offset-4
    %h2#page_title New entity

    =render "shared/errors", :resource => @entity
    =render 'shared/errors', :resource => @importer
    -if @error_message
      .alert.alert-danger
        %strong
          An error occurred while performing the import operation.
        %br
        =@error_message

    =form_for(@entity) do |f|  
      .form-group
        =f.label :name
        =f.text_field :name, class: 'form-control', autofocus: true
      .form-group
        =f.label :data
        =f.file_field :data, class: 'form-control'
      .btn-group
        =submit_tag "Save", class: 'btn btn-primary'
        =link_to "Cancel", entities_path, class: 'btn btn-default'
