.row
  .col-md-4.col-md-offset-4
    %h2#page_title Import from GnuCash

    =render 'shared/errors', :resource => @importer
    -if @error_message
      .alert.alert-danger
        An error occurred while performing the import operation.
        %br
        =@error_message
    =form_tag(gnucash_entity_path(@entity), multipart: true) do
      .form-group
        =label_tag 'import[data]', 'Data'
        =file_field_tag 'import[data]', class: 'form-control'
      =submit_tag "Submit", class: 'save_button'
