%h2#page_title Entity

%table#entity_table.attributes{:cellspacing => 0, :cellpadding => 0}
  %tr
    %th Name
    %td= @entity.name

%h3 Accounts
=render 'accounts/accounts_table', accounts: AccountsPresenter.new(@entity)
.actions
  =link_to 'Add', new_entity_account_path(@entity), class: 'add_button', title: 'Click here to add an account.'
  =link_to 'Back', entities_path, class: 'back_button', title: 'Click here to return to the list of entities.'
