=form_for(resource, :url => url, :method => :delete) do |f|
  =f.submit "Delete", data: { confirm: "Are you sure you want to delete the selected item?" }, class: 'delete_button', title: 'Click here to delete the item.'