-if flash.any?
  #notifications
    -flash.each do |t, m|
      .alert.alert-dismissible{class: flash_key_to_bootstrap_class(t), role: 'alert'}
        %button.close{type: 'button', data: {dismiss: 'alert'}, aria: {label: 'Close'}}
          %span{aria: {hidden: 'true'}}
            &times;
        = m
