#account_form.dialog{ title: 'Account', data: { bind: "with: editAccount"}}
  %form
    %div
      %label{ for: 'account_account_type' } Account type
      %br
      %select#account_account_type{ data: { bind: "options: $root.accountTypes, value: account_type" }}
    %div
      %label{ for: 'account_parent' } Parent
      %br
      %select#account_parent{ data: { bind: "options: availableParents, optionsCaption: 'None', optionsText: function(a) { return a.name(); }, optionsValue: function(a) { return a.id; }, value: parent_id" }}
    %div
      %label{ for: 'account_name' } Name
      %span.validation_message{ data: { bind: "visible: name.hasError, text: name.errorMessage" }}
      %br
      %input#account_name{ type: 'text', data: { bind: "value: name" }}
