%sub{ data: { bind: "text: attachments().length" }}
.attachment_container{ data: { bind: "visible: attachmentsVisible" }}
  %table.nested_table{ cellspacing: 0, cellpadding: 0 }
    %tr
      %th Name
      %th Type
      %th &nbsp;
    <!-- ko foreach: attachments -->
    %tr
      %td{ data: { bind: "text: name" } }
      %td{ data: { bind: "text: content_type" } }
      %td.action_cell
        %a.small_show_button{ href: '#', title: 'Click here to view the attachment.', data: { bind: "click: show" } }
        %a.small_delete_button{ href: '#', title: 'Click here to delete the attachment.', data: { bind: "click: function() { destroy(); }" }}
    <!-- /ko -->
  .actions
    %a.small_add_button{ href: '#', title: 'Click here to add an attachment.', data: { bind: "click: newAttachment" }}
