#attachment_form.dialog{ title: 'Attachment', data: { bind: "with: editAttachment"}}
  %form
    %div
      %label{ for: 'attachment_name' } Name
      %br
      %input#attachment_name{ data: { bind: "value: name" }}
    %div
      %label{ for: 'attachment_file' } File
      %br
      %input#attachment_file{ type: 'file', data: { bind: "file: raw_file" }}
