#entity_container
  .actions
    %a.small_add_button{ href: "#", data: { bind: "click: newEntity" }}
    %a.small_edit_button{ href: "#", data: { bind: "click: editSelectedEntity" }}
    %a.small_delete_button{ href: "#", data: { bind: "click: removeSelectedEntity" }}
  %select{ data: { bind: "options: entities, optionsText: 'name', value: selectedEntity" } }
