.panel.panel-default{ data: { bind: "attr: { id: 'reconciliation_' + id() }, visible: showReconciliation" } }
  .panel-heading Reconcile
  .panel-body{ data: { bind: "with: reconciliation" } }
    .row
      .col-md-4
        .form-group
          %label Previous reconciliation date
          %br
          %span{ data: { bind: 'text: previous_reconciliation_date' } }
        .form-group
          %label{ for: 'reconciliation_date_text' } Reconciliation date
          %input#reconciliation_date_text.form-control{ type: 'text', data: { bind: 'value: formatted_reconciliation_date' }  }
      .col-md-4
        .form-group
          %label Previous balance
          %br
          %span{ data: { bind: 'text: formatted_previous_balance' }  }
        .form-group
          %label{ for: 'closing_balance_text' } Closing balance
          %input#closing_balance_text.form-control{ type: 'text', data: { bind: 'value: formatted_closing_balance' } }
      .col-md-4
        .form-group
          %label Reconcilied balance
          %br
          %span{ data: { bind: 'text: formatted_reconciled_balance' } }
        .form-group
          %label Difference
          %br
          %span{ data: { bind: 'text: formatted_difference, css: { invalid: !valid(), valid: valid() }' } }
    .row
      .col-md-6
        %span.reconciliation-header Debits
        %table.table.table-striped
          %tr
            %th Date
            %th Description
            %th Amount
            %th Reconciled
          <!-- ko foreach: debit_items -->
          %tr
            %td.number_column{ data: { bind: "text: formatted_transaction_date" } }
            %td{ data: { bind: "text: description" } }
            %td.number_column{ data: { bind: "text: formatted_amount" } }
            %td
              %input{ type: "checkbox", data: { bind: "checked: selected" } }
          <!-- /ko -->
      .col-md-6
        %span.reconciliation-header Credits
        %table.table.table-striped
          %tr
            %th Date
            %th Description
            %th Amount
            %th Reconciled
          <!-- ko foreach: credit_items -->
          %tr
            %td.number_column{ data: { bind: "text: formatted_transaction_date" } }
            %td{ data: { bind: "text: description" } }
            %td.number_column{ data: { bind: "text: formatted_amount" } }
            %td
              %input{ type: "checkbox", data: { bind: "checked: selected" } }
          <!-- /ko -->
    .row
      .col-md-12
        %a.save_button{ data: { bind: "click: submit, visible: valid" }, title: 'Click here to complete the reconciliation.', href: '#' } Submit
        %a.back_button{ data: { bind: "click: cancel" }, title: 'Click here to cancel the reconciliation.', href: '#' } Cancel
