#entity_and_account
  #entity_container
    %select{ data: { bind: "options: entities, optionsText: 'name', value: selectedEntity" } }
  #account_container{ data: { bind: "with: selectedEntity()" }}
    %table.list#accounts_table{ cellspacing: 0, cellpadding: 0}
      %tr
        %th Name
        %th Balance
      %tbody{ data: { bind: "foreach: accounts" }}
        %tr{ data: { bind: "css: cssClass, click: display" }}
          %td
            %span{ data: { bind: "text: name, css: cssClass" }}
          %td.number_column{ data: { bind: "text: formattedBalanceWithChildren" }}
#transactions
  %ul{ data: { bind: "foreach: displayedAccounts" }}
    %li
      %a{ data: { bind: "text: name, attr: {href: '#account_' + id }" }}
  <!-- ko foreach: displayedAccounts -->
  %div{ data: { bind: "text: name, attr: {id: 'account_' + id }" }}
  <!-- /ko -->
:javascript  
  $(function() {
    // Initialize and bind the view model
    app = new MoneyApp();
    ko.applyBindings(app);
    
    // Initialize the tab panel and refresh when new tabs are added
    var tabs = $('#transactions').tabs();
    app.displayedAccounts.subscribe(function(accounts) {
      tabs.tabs('refresh');
    });
    app.selectedAccountIndex.subscribe(function(index) {
      tabs.tabs('option', 'active', index);
    });
  })
