:javascript  
  $(function() {
    app = new MoneyApp();
    ko.applyBindings(app);
  })
#entity_container
  Entity: 
  %select{ data: { bind: "options: entities, optionsText: 'name', value: selectedEntity, optionsCaption: 'Select an entity...'" } }
#account_container
  %table#account_list{ cellspacing: 0, cellpadding: 0 }
    %tbody{ data: { bind: "foreach: accounts" } }
      %tr
        %td{ data: { bind: "text: name, css: cssClass" }}
        %td.number_column{ data: { bind: "text: formattedBalanceWithChildren" }}
#tab_container
  Tabs containing opened accounts will be here