#searchContainer{'ng-controller' => 'ViewController as viewCtrl'}
  .row
    .col-md-9
      .input-group
        %input.form-control{type: 'text', 'ng-model' => 'viewCtrl.searchInput', 'ng-change' => 'viewCtrl.search()', 'ng-keypress' => 'viewCtrl.selectFirst($event)', placeholder: 'Enter search text here', autofocus: true}
        %span.input-group-btn
          %button.btn.btn-default{ 'ng-click' => 'viewCtrl.search()' }
            %span.glyphicon.glyphicon-search{ 'aria-hidden' => 'true' }
      #matches.list-group
        %a.list-group-item{:href => '#', 'ng-click' => 'viewCtrl.select($index)', 'ng-repeat' => 'match in viewCtrl.matches'}
          {{ match.description }}

      %entity-manager{ 'ng-show' => 'viewCtrl.isActive("entity-manager")' }
      %account-manager{ 'ng-show' => 'viewCtrl.isActive("account-manager")' }
      %account-register{ 'ng-show' => 'viewCtrl.isActive("account-register")' }
    .col-md-3
      .panel.panel-default
        .panel-heading Help
        .panel-body
          %h4 Available commands
          Start typing in the search bar and matching available actions will present themselves
          %dl
            %dt Manage entities
            %dd Add, edit, and remove entities
            %dt Manage accounts
            %dd Add, edit, and remove accounts
            %dt &lt;Account name&gt;
            %dd View the register for the specified account, and add, edit, and remove transactions
