=content_for :page_title do
  #{h @commodity.symbol} prices

.row
  .col-md-3
    %table#prices_table.table.table-striped
      %tr
        %th.text-right Date
        %th.text-right Price
        %th.action_cell &nbsp;
      -@prices.each do |price|
        %tr
          %td.text-right= format_date(price.trade_date)
          %td.text-right= format_price(price.price)
          %td.action_cell
            .btn-group
              =edit_link edit_price_path(price), 'this price'
              =delete_link price_path(price), 'this price'
    .actions.btn-group
      =link_to 'Add', new_commodity_price_path(@commodity), class: 'btn btn-primary', title: 'Click here to add a new price.'
      =link_to 'Back', entity_commodities_path(@commodity.entity), class: 'btn btn-default', title: 'Click here to return to the list of commodities.'
