.form-group
  =f.label :name
  =f.text_field :name, class: 'form-control', autofocus: true

.form-group
  =f.label :symbol
  =f.text_field :symbol, class: 'form-control'

.form-group
  =f.label :market
  =f.select :market, options_for_select(Commodity::MARKETS.map(&:upcase) , commodity.market), {}, class: 'form-control'

.actions.btn-group
  =f.submit 'Save', class: 'btn btn-primary', title: 'Click here to save the new commodity.'
  =link_to 'Back', entity_commodities_path(commodity.entity), class: 'btn btn-default', title: 'Click here to return to the list of commodities'
