%h2#page_title New commodity

=render 'shared/errors', resource: @commodity

.row
  .col-md-4
    =form_for([@commodity.entity, @commodity]) do |f|
      =render 'form_fields', commodity: @commodity, f: f
