// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account_category {
  font-weight: bold;
  font-size: 110%;
}

.account_depth_0 {
  padding-left: 2em;
}
.account_depth_1 {
  padding-left: 4em;
}
.account_depth_2 {
  padding-left: 6em;
}