#main-content {
  margin-top: 4em;
}

.header-row {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.account_depth_0 {
}
.account_depth_1 {
  padding-left: 2em;
}
.account_depth_2 {
  padding-left: 4em;
}
.account_depth_3 {
  padding-left: 8em;
}

.register-container {
  height: 396px;
  overflow-y: auto;
}
.register {
  width: 640px;
}
.register-index {
  width: 64px;
  text-align: right;
  color: #999;
}
.register-date {
  width: 64px;
  text-align: right;
}
.register-description {
  width: 256px;
}
.register-amount {
  width: 128px;
  text-align: right;
}
.register-balance {
  width: 128px;
  text-align: right;
}
.register-actions {
  width: 64px;
  text-align: center;
}

.button-column {
  max-width: 32px;
  width: 32px;
}

.header-row {
  font-size: 120%;
  font-weight: bold;
}

.right-border {
  border-right: 1px solid black;
}
