.reconciliation_information {
  margin-bottom: 2em;
}

.reconciliation_table {
  tr {
    height: 1.6em;
  }
  input {
    width: 7em;
    text-align:right;
  }
  .display_cell {
    padding-right: .3em;
  }
}
