$light-grey: #CCC;
$dark-grey: #333;
$white: #FFF;
$red_highlight: #FF9999;

.filter {
  border: 1px solid $light-grey;
  padding: 1em;
  margin: {
    top: 1em;
    bottom: 1em;
  }
}

.report {
  td, th {
    font-size: 120%;
    padding: .2em;
  }
}

.report th {
  background-color: $dark-grey;
  color: $white;
}

.report_header {
  font-weight: bold;
}

.account_1 {
  padding-left: 1em;
}
.account_2 {
  padding-left: 2em;
}
.account_3 {
  padding-left: 3em;
}
.balance_1 {
  padding-right: 2em;
}
.balance_2 {
  padding-right: 4em;
}
.balance_3 {
  padding-right: 6em;
}

.report .negative {
  background-color: $red_highlight;
}