$shadow-color: #CCC;

$white: #FFF;
$dark-grey: #333;
$medium-grey: #999;
$light-grey: #CCC;

$green: #00A000;
$yellow: #A0A000;
$red: #A00000;

$black: #000;

#entity_and_account, #transactions {
  display: inline-block;
}

#entity_and_account {
  float: left;
}

#entity_container {
  border: 1px solid black;
  border-radius: 1em;
  padding: .5em;
}

#entity_container select {
  font-size: 125%;
  font-weight: bold;
}

#account_container {
  padding: 1em;
  margin: {
    top: 1em;
    bottom: 1em;
  }
  border: 1px solid black;
  border-radius: 1em;
  min-width: 10em;
  table.list {
    border:none;
  }
  table.list th {
    padding: {
      left: .2em;
      right: 1em;
    }
    &:first-of-type {
      border-top-left-radius: .6em;
      border-bottom-left-radius: .6em;
    }
    &:last-of-type {
      border-top-right-radius: .6em;
      border-bottom-right-radius: .6em;
    }
  }
}

.clickable {
  cursor: pointer;
}

.account_list_item {
  cursor:pointer;
}

#transactions {
  margin: {
    left: 1em;
  }
  min-height: 20em;
  min-width: 20em;

  table.detail {
    border-collapse: collapse;

    td {
      padding: .2em;
    }
  }
  
  td.detail_cell {
    margin-right: 5em;
    
  }
}

tr.account_category td {
  font-weight: bold;
  font-size: 110%;
}

span.account_depth_0 {
}
span.account_depth_1 {
  padding-left: 2em;
}
span.account_depth_2 {
  padding-left: 4em;
}

.register td, .register th{
  padding-right: .5em;
}

.register td {
  border: 1px solid #999;
  padding: .5em;
}

.register {
  border-collapse: collapse;
}

.register td.boolean_column {
  text-align: center;
}

.account-toggle {
  float: right;
  cursor: pointer;
}

.edit {
  display: none;
}

.editing .edit {
  display: block;
}

.editing .view {
  display: none;
}

input.number_field, input.date_field {
  text-align: right;
  width: 6em;
}

.validation_message {
  display: inline-block;
  font-size: 80%;
  padding: .2em;
  color: $white;
  background-color: $red;
  border-radius: .5em;
  box-shadow: .2em .2em .2em $shadow-color
}

.validation_summary {
  font-weight: bold;
  color: $red;
  text-align: center;
  ul {
    display: inline-block;
    border-radius: .5em;
    border: 1px solid $red;
    text-align: left;
    padding: {
      left: 2em;
      top: .5em;
      bottom: .5em;
    }
  }
}
