#entity_and_account, #transactions {
  display: inline-block;
}

#entity_and_account {
  float: left;
}

#entity_container {
  border: 1px solid black;
  border-radius: 1em;
  padding: .5em;
}

#entity_container select {
  font-size: 125%;
  font-weight: bold;
}

#account_container {
  padding: 1em;
  margin: {
    top: 1em;
    bottom: 1em;
  }
  border: 1px solid black;
  border-radius: 1em;
  min-width: 10em;
  table.list {
    border:none;
  }
  table.list th {
    padding: {
      left: .2em;
      right: 1em;
    }
    &:first-of-type {
      border-top-left-radius: .6em;
      border-bottom-left-radius: .6em;
    }
    &:last-of-type {
      border-top-right-radius: .6em;
      border-bottom-right-radius: .6em;
    }
  }
}

.clickable {
  cursor: pointer;
}

.account_list_item {
  cursor:pointer;
}

#transactions {
  margin: {
    left: 1em;
  }
  min-height: 20em;
  min-width: 60em;
}

tr.account_category td {
  font-weight: bold;
  font-size: 110%;
}

span.account_depth_0 {
}
span.account_depth_1 {
  padding-left: 2em;
}
span.account_depth_2 {
  padding-left: 4em;
}