=form_for(transaction, url: account_transactions_path(@account)) do |f|
  %div
    =f.label :transaction_date
    %br
    =f.text_field :transaction_date, class: 'date_field'
  %div
    =f.label :description
    %br
    =f.text_field :description
  %div
    %table{cellspacing: 0, cellpadding: 0}
      %tr
        %th Account
        %th Action
        %th Amount
      -items.each_with_index do |item, index|
        =f.fields_for :items, item do |item_form|
          %tr{id: "transaction_item_#{index}"}
            %td= item_form.select :account_id, options_from_collection_for_select(transaction.user.accounts, "id", "name")
            %td= item_form.select :action, [:credit, :debit]
            %td= item_form.text_field :amount

            .actions
    =f.submit 'Submit'