.form-group
  =label_tag 'transaction[transaction_date]', 'Date'
  =text_field_tag 'transaction[transaction_date]', transaction.transaction_date, class: 'date_field form-control', autofocus: true
.form-group
  =label_tag 'transaction[description]', 'Description'
  =text_field_tag 'transaction[description]', transaction.description, class: 'transaction_description_field form-control'

%table#transaction_items_table.table.table-striped
  %tr
    %th Account
    %th Action
    %th Memo
    %th Confirmation
    %th Amount
  -@items.each_with_index do |item, index|
    %tr{ id: "transaction_item_#{index}" }
      %td
        =hidden_field_tag 'transaction[items_attributes][][id]', item.try(:id)
        =label_tag 'transaction[items_attributes][][account_id]', 'Account', style: 'display: none'
        =select_tag 'transaction[items_attributes][][account_id]', available_accounts_options(transaction.entity, item.try(:account_id)), include_blank: true, class: 'form-control'
      %td
        =label_tag 'transaction[items_attributes][][action]', 'Action', style: 'display: none'
        =select_tag 'transaction[items_attributes][][action]', options_for_select([:credit, :debit], item.try(:action)), class: 'form-control'
      %td
        =label_tag 'transaction[items_attributes][][memo]', 'Memo', style: 'display: none'
        =text_field_tag 'transaction[items_attributes][][memo]', item.try(:memo), placeholder: 'memo', class: 'form-control'
      %td
        =label_tag 'transaction[items_attributes][][confirmation]', 'Confirmation', style: 'display: none'
        =text_field_tag 'transaction[items_attributes][][confirmation]', item.try(:confirmation), placeholder: 'confirmation', class: 'form-control'
      %td
        =label_tag 'transaction[items_attributes][][amount]', 'Amount', style: 'display: none'
        =text_field_tag 'transaction[items_attributes][][amount]', item.try(:amount), placeholder: 'amount', class: 'form-control'
.actions.btn-group
  =submit_tag 'Save', class: 'btn btn-primary', title: 'Click here to save the transaction.'
  =link_to 'Back', entity_accounts_path(@entity || @transaction.entity), class: 'btn btn-default', title: 'Click here to return to the list of entities.'
