=form_for([transaction.entity, transaction]) do |f|
  =f.text_field :transaction_date, class: 'date_field transaction_date_field', autofocus: true
  =f.text_field :description, class: 'transaction_description_field', placeholder: 'description'
  .new_transaction_items_container
    %table.list{cellspacing: 0, cellpadding: 0}
      %tr
        %th Account
        %th Action
        %th Amount
      -items.each_with_index do |item, index|
        =f.fields_for :items, item do |item_form|
          %tr{id: "transaction_item_#{index}"}
            %td= item_form.select :account_id, options_from_collection_for_select(transaction.entity.accounts, "id", "name")
            %td= item_form.select :action, [:credit, :debit]
            %td= item_form.text_field :amount

  .actions
    =f.submit 'Save', class: 'save_button', title: 'Click here to save the transaction.'
    =link_to 'Back', entity_path(@entity), class: 'back_button', title: 'Click here to return to the list of entities.'