%h2#page_subtitle Transactions

%table#transactions_table.transaction_list{cellspacing: 0, cellpadding:0}
  %tr
    %th Transaction Date
    %th Description
    %th Amount
  -@transactions.each_with_index do |transaction, index|
    %tr{class: index % 2 == 0 ? 'table_row' : 'alt_table_row'}
      %td.transaction_date_column= transaction.transaction_date.strftime("%-m/%-d/%Y")
      %td.transaction_description_column= transaction.description
      %td.number_column= format_currency(transaction.total_credits.abs)
.new_transaction_container
  =render 'form', transaction: @transaction, items: @items