%h2#page_subtitle= @account.name

%table#transactions_table{cellspacing: 0, cellpadding:0}
  %tr
    %th Transaction Date
    %th Description
  -@transactions.each do |transaction|
    %tr
      %td= transaction.transaction_date
      %td= transaction.description
=render 'form', transaction: @transaction, items: @items

.actions
  =link_to 'Back', entity_path(@account.entity)