.accountContent{ 'ng-controller' => 'AccountsController as accountsCtrl' }
  %script{ :type => 'text/ng-template', :id => 'account-form.html' }
    .modal-header
      %button.close{ 'ng-click' => 'cancel()', 'aria-hidden' => 'true' } &times;
      %h3.modal-title {{ formTitle }}
    .modal-body
      %form.css-form{ :name => 'accountForm', :novalidate => true }
        .form-group{ 'ng-class' => '{"has-error": accountForm.name.$dirty && accountForm.name.$invalid}' }
          %label.control-label{ :for => 'account_name' } Name
          %input.form-control{ :type => 'text', :name => 'name', 'ng-model' => 'accountsCtrl.formAccount.name', 'focus-on' => '!!accountsCtrl.formAccount', :required => true, :placeholder => 'Checking, for example' }
          %span.help-block{ 'ng-show' => 'accountForm.name.$dirty && accountForm.name.$error.required' } You must specify a name.
        .form-group
          %label.form-label{ :for => 'account_type' } Type
          %select.form-control{ :name => 'account_type', 'ng-model' => 'accountsCtrl.formAccount.account_type' }
            %option{ 'ng-repeat' => 'type in accountsCtrl.types', :value => '{{ type.toLowerCase() }}' } {{ type }}
        .form-group
          %label.form-label{ :for => 'account_parent' } Parent
          %select.form-control{ :id => 'account_parent', :name => 'account_parent', 'ng-model' => 'accountsCtrl.formAccount.parent_id', 'convert-to-number' => 'true' }
            %option{ :value => '' } None
            %option{ 'ng-repeat' => 'account in accountsCtrl.formTypes({ except: accountsCtrl.formAccount.id })', :value => '{{ account.id }}' } {{ account.path }}
    .modal-footer
      %button.btn.btn-primary{ 'ng-click' => 'ok()', 'ng-disabled' => 'accountForm.$invalid' } Save
      %button.btn.btn-default{ 'ng-click' => 'cancel()' } Cancel
  .panel.panel-primary
    .panel-heading
      .pull-right
        %button.btn.btn-default.btn-xs{ 'ng-click' => 'accountsCtrl.new()' }
          %span.glyphicon.glyphicon-plus{ 'aria-hidden' => 'true' }
      Accounts

    %table.table.table-striped
      %tr{ 'ng-repeat' => 'record in displayRecords', 'ng-class' => '{"header-row": record.isHeader()}', 'ng-hide' => 'record.isHidden' }
        %td.col-md-1
          %div{ 'ng-hide' => 'record.isHeader() || record.isLeaf()' }
            %button.btn.btn-default.btn-xs{ 'ng-hide' => 'record.isExpanded', 'ng-click' => 'record.expand()' }
              %span.glyphicon.glyphicon-chevron-right{ 'arial-hidden' => true }
            %button.btn.btn-default.btn-xs{ 'ng-show' => 'record.isExpanded', 'ng-click' => 'record.collapse()' }
              %span.glyphicon.glyphicon-chevron-down{ 'arial-hidden' => true }
        %td.col-md-7
          %div{ 'ng-class' => 'record.cssClass()', 'ng-click' => 'showRegister(record.id())'} {{ record.caption() }}
        %td.col-md-2.text-right {{ record.balance() | number:2 }}
        %td.col-md-2
          .btn-group
            %button.btn.btn-xs.btn-info{ 'ng-if' => 'record.id()', 'ng-click' => 'accountsCtrl.edit(record.id())' }
              %span.glyphicon.glyphicon-edit{ 'arial-hidden' => 'true' }
            %button.btn.btn-xs.btn-danger{ 'ng-if' => 'record.id()', 'ng-click' => 'accountsCtrl.delete(record.id())', 'confirmation-needed' => 'Are you sure you want to delete this account?' }
              %span.glyphicon.glyphicon-remove{ 'arial-hidden' => 'true' }
