.accountRegister{ 'ng-controller' => 'AccountRegisterController as registerCtrl' }
  %table.table.table-striped
    %tr
      %th Date
      %th Description
      %th Amount
      %th Balance
    %tr{ 'ng-repeat' => 'item in registerCtrl.transactionItems' }
      %td {{ item.transaction_date | date:shortDate }}
      %td {{ item.description }}
      %td {{ item.polarized_amount | number:2 }}
      %td {{ item.balance | number:2 }}
      
