.modal-header
  %button.close{ 'ng-click' => 'cancelBudgetItemForm()', 'aria-hidden' => true } &times;
  %h3.model-title Edit budget item
.modal-body
  .row
    .col-sm-6
      .form-group
        %select.form-control{ 'ng-model' => 'selectedMethod' }
          %option{ :value => 'annualTotal' } Annual total
          %option{ :value => 'monthlyAverage' } Monthly average
          %option{ :value => 'detail' } Monthly detail
          %option{ :value => 'weekly' } Weekly
      %form.css-form{ :name => 'budgetItemMonthlyForm', :novalidate => true, 'ng-show' => 'selectedMethod == "monthlyAverage"' }
        .form-group
          %label.control-label{ :for => 'monthlyAverage' } Monthly average
          %input.form-control{ :type => 'number', :name => 'monthlyAverage', 'ng-model' => 'monthlyAverage', 'ng-blur' => 'applyMonthlyAverage()' }
      %form.css-form{ :name => 'budgetItemAnnualForm', :novalidate => true, 'ng-show' => 'selectedMethod == "annualTotal"' }
        .form-group
          %label.control-label{ :for => 'annualTotal' } Annual total
          %input.form-control{ :type => 'number', :name => 'annualTotal', 'ng-model' => 'annualTotal', 'ng-blur' => 'applyAnnualTotal()' }
      %form.css-form{ :name => 'budgetItemDetailForm', :novalidate => true, 'ng-show' => 'selectedMethod == "detail"' }
        .form-group{ 'ng-repeat' => 'period in selectedBudgetItem.periods' }
          %label.control-label{ :for => 'annualTotal' } {{ period.start_date | date:'MMM yyyy' }}
          %input.form-control{ :type => 'number', :name => 'annualTotal', 'ng-model' => 'period.budget_amount' }
      %form.css-form{ :name => 'budgetItemWeeklyForm', :novalidate => true, 'ng-show' => 'selectedMethod == "weekly"' }
        .form-group
          %label.control-label{ :for => 'weeklyAmount' } Amount
          %input.form-control{ :type => 'number', :name => 'weeklyAmount', 'ng-model' => 'weeklyAmount', 'ng-blur' => 'applyWeeklyAmount()' }
        .form-group
          %label.control-label{ :for => 'weekCount' } Number of weeks
          %input.form-control{ :type => 'number', :name => 'weekCount', 'ng-model' => 'weekCount', :min => 1, :max => 26, 'ng-blur' => 'applyWeeklyAmount()' }
        .form-group
          %label.control-label{ :for => 'startDate' } Start date
          %select.form-control{ :name => 'startDate', 'ng-model' => 'weeklyStartDate', 'ng-change' => 'applyWeeklyAmount()', 'convert-to-date' => true }
            %option{ 'ng-repeat' => 'date in availableStartDates', :value => '{{ date | date:"yyyy-MM-dd" }}' } {{ date | date:'d - EEE' }}
    .col-sm-6
      %table.table.table-striped
        %tr{ 'ng-repeat' => 'period in selectedBudgetItem.periods' }
          %th.text-right {{ period.start_date | date:'MMM yyyy' }}
          %td.text-right {{ period.budget_amount | number:2 }}
        %tr
          %th.text-right Total
          %td.text-right {{ selectedBudgetItem.total() | number:2 }}
.modal-footer
  %button.btn.btn-primary{ 'ng-click' => 'saveBudgetItemForm()' } Save
  %button.btn.btn-default{ 'ng-click' => 'cancelBudgetItemForm()' } Cancel
