.modal-header
  %button.close{ 'ng-click' => 'cancelBudgetItemForm()', 'aria-hidden' => true } &times;
  %h3.model-title Edit budget item
.modal-body
  .row
    .col-sm-6
      .form-group
        %select.form-control{ 'ng-model' => 'selectedMethod' }
          %option{ :value => 'annualTotal' } Annual total
          %option{ :value => 'monthlyAverage' } Monthly average
          %option{ :value => 'detail' } Monthly detail
      %form.css-form{ :name => 'budgetItemMonthlyForm', :novalidate => true, 'ng-show' => 'selectedMethod == "monthlyAverage"' }
        .form-group
          %label.control-label{ :for => 'monthlyAverage' } Monthly average
          %input.form-control{ :type => 'number', :name => 'monthlyAverage', 'ng-model' => 'monthlyAverage', 'ng-blur' => 'applyMonthlyAverage()' }
      %form.css-form{ :name => 'budgetItemAnnualForm', :novalidate => true, 'ng-show' => 'selectedMethod == "annualTotal"' }
        .form-group
          %label.control-label{ :for => 'annualTotal' } Annual total
          %input.form-control{ :type => 'number', :name => 'annualTotal', 'ng-model' => 'annualTotal', 'ng-blur' => 'applyAnnualTotal()' }
    .col-sm-6
      %table.table.table-striped
        %tr{ 'ng-repeat' => 'period in selectedBudgetItem.periods' }
          %th.text-right {{ period.start_date | date:'MMM yyyy' }}
          %td.text-right {{ period.budget_amount | number:2 }}
        %tr
          %th.text-right Total
          %td.text-right {{ selectedBudgetItem.total() | number:2 }}
.modal-footer
  %button.btn.btn-primary{ 'ng-click' => 'saveBudgetItemForm()' } Save
  %button.btn.btn-default{ 'ng-click' => 'cancelBudgetItemForm()' } Cancel
