.panel.panel-primary
  .panel-heading Entities

  %table.table.table-striped
    %tr{ 'ng-repeat' => 'entity in entitiesCtrl.entities'}
      %td.col-md-11
        %span{ 'ng-hide' => 'editing', 'ng-click' => 'editing = true' } {{ entity.name }}
        %span{ 'ng-show' => 'editing' }
          %form{ 'ng-submit' => 'editing = !entitiesCtrl.save(entity)' }
            .row
              .col-md-8
                %input.form-control.input-sm{ type: 'text', 'ng-model' => 'entity.name', 'ng-focus' => 'editing' }
              .col-md-4
                .btn-group
                  %button.btn.btn-primary.btn-xs{ type: 'submit' }
                    %span.glyphicon.glyphicon-ok{ 'aria-hidden' => 'true' }
                  %button.btn.btn-default.btn-xs{ type: 'button', 'ng-click' => 'editing = false' }
                    %span.glyphicon.glyphicon-remove
      %td.col-md-1
        %button.btn.btn-danger.btn-xs{ title: 'Click here to remove this entity.', 'ng-click' => 'entitiesCtrl.delete(entity.id)', 'confirmation-needed' => 'Are you sure you want to delete this entity?'}
          %span.glyphicon.glyphicon-remove{ 'aria-hidden' => 'true' }
  .panel-footer
    %form{ 'ng-submit' => 'entitiesCtrl.add()' }
      .input-group
        %input.form-control{ type: 'text', 'ng-model' => 'entitiesCtrl.newEntityName' }
        .input-group-btn
          %button.btn.btn-default{ type: 'submit' }
            %span.glyphicon.glyphicon-ok{ 'aria-hidden' => 'true' }
