%table#accounts_table.table.table-striped
  %tr
    %th Account
    %th.text-right Balance
  -report.content.each do |r|
    %tr{class: r[:depth] == 0 ? 'report_header' : 'report_data'}
      %td
        %div{ class: "account_depth_#{r[:depth]}" }= r[:account]
      %td.text-right= r[:balance]
