%table#accounts_table{cellspacing: 0, cellpadding: 0}
  %tr
    %th Account
    %th Balance
  -report.content.each do |r|
    %tr{class: r[:depth] == 0 ? 'report_header' : 'report_data'}
      %td
        %div{ class: "account_depth_#{r[:depth]}" }= r[:account]
      %td
        %div{ class: "number_column balance_depth_#{r[:depth]}"}= r[:balance]
