=content_for :page_title do
  Balance sheet

.row
  .col-md-6
    .panel.panel-default

      .panel-body
        =form_tag(balance_sheet_entity_path(@entity), method: :get, class: 'form-inline') do
          =text_field_tag :as_of, format_date(@filter.as_of), class: 'date_field form-control', placeholder: 'As of'
          .checkbox
            %label
              =check_box_tag :hide_zero_balances, 1, @filter.hide_zero_balances
              %strong Hide zero balances
          =submit_tag 'Show', class: 'btn btn-primary', title: 'Click here to view the report with these filter setttings.'

    .report
      =render 'table', report: @report
