!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Money
    =favicon_link_tag asset_path('money_bag.ico')
    =stylesheet_link_tag 'application', media: :all
    =stylesheet_link_tag params[:controller], media: :all
    =javascript_include_tag 'application'
    =csrf_meta_tags
%body
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        =link_to 'Money', root_path, class: 'navbar-brand'
      #navbar.collapse.navbar-collapse
        =render_navigation
  .container
    #main-content
      =render 'shared/flash'
      -if content_for? :page_title
        %h1#page_title
          =yield :page_title
      =yield
