%table#accounts_table.table.table-striped
  %tr
    %th Name
    %th Balance
    %th.action_cell &nbsp;
  -accounts.each do |record|
    %tr{ :id => "#{record.identifier}" }
      %td
        %div{class: "account_depth_#{record.depth}"}
          -if record.account
            =link_to record.caption, account_link(record.account)
          -else
            =record.caption
      %td.number_column= format_currency(record.balance)
      %td.action_cell
        -if record.account
          .row
            .col-md-1
              =edit_link edit_account_path(record.account), 'this account.'
            .col-md-5
              =link_to "Reconcile", new_account_reconciliation_path(record.account), class: 'btn btn-xs btn-default', title: 'Click here to reconcile this account with a bank statement.'
            .col-md-1
              =delete_link account_path(record.account), 'this account'
