%tr{ :id => "account_#{account.id}" }
  %td= link_to account.name, edit_account_path(account)
  %td 0.00
  %td.action_cell= render "shared/delete_form", :resource => account, :url => account_path(account)