%div
  =f.label :account_type
  %br
  =f.select :account_type, options_for_select(%w(asset liability equity income expense), account.account_type), :autofocus => true
%div
  =f.label :parent_id
  %br
  =f.select :parent_id, grouped_options_for_select(available_parent_accounts(account), account.parent_id), include_blank: true
%div
  =f.label :name
  %br
  =f.text_field :name
.actions
  =f.submit "Save", class: 'save_button', title: 'Click here to save the account.'
  =link_to 'Back', entity_accounts_path(account.entity), class: 'back_button', title: 'Click here to return to the list of accounts.'
