=content_for :page_title do
  Accounts
.row
  .col-md-6
    =render 'accounts_table', accounts: @accounts
    .actions.btn-group
      =link_to 'Add', new_entity_account_path(@entity), class: 'btn btn-primary', title: 'Click here to add an account.'
