%h2#page_title Accounts

%table#accounts_table{:cellspacing => 0, :cellpadding => 0}
  %tr
    %th Name
    %th Balance
  %tr
    %td Assets
    %td.number_column 0.00
  -@accounts.assets.each do |account|
    =render "account_row", :account => account
  %tr
    %td Liabilities
    %td.number_column 0.00
  -@accounts.liabilities.each do |account|
    =render "account_row", :account => account
  %tr
    %td Equity
    %td.number_column 0.00
  -@accounts.equities.each do |account|
    =render "account_row", :account => account
.actions
  =link_to 'Add', new_account_path