%h2#page_title New commodity transaction

=render 'shared/errors', resource: @creator
=form_tag(create_commodity_transaction_account_path(@account), {method: :post}) do
  =fields_for(:purchase, @creator) do |f|
    %div
      =f.label :transaction_date
      %br
      =f.text_field :transaction_date, class: 'date_field'
    %div
      =f.label :action
      %br
      =f.select :action, options_for_select(CommodityTransactionCreator::ACTIONS, @creator.action)
    %div
      =f.label :symbol
      %br
      =f.text_field :symbol
    %div
      =f.label :shares
      %br
      =f.number_field :shares
    %div
      =f.label :value
      %br
      =f.number_field :value
  .actions
    =submit_tag 'Save', class: 'save_button'
