%h2#page_title Account

%table#account_table.attributes{:cellspacing => 0, :cellpadding => 0}
  %tr
    %th Account type
    %td= @account.account_type
  %tr
    %th Name
    %td= @account.name
.actions
  =link_to 'Back', entity_path(@account.entity), class: 'back_button', title: 'Click here to return to the list of accounts.'